.container {
  padding-top: 10rem;
  width: 100%;
  min-height: 100vh;
  background-color: #1f1f1f;
  color: #ffffff;
}

.cartTitle {
  font-size: 3rem;
  width: 90%;
  margin: auto auto 2rem auto;
  border-bottom: 1px solid rgba(211, 211, 211, 0.089);
}
